
:root {
  /* colors */
  --primary-color-dark-cyan: hsl(158, 36%, 37%);
  --primary-color-cream: hsl(30, 38%, 92%);
  --neutral-color-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-color-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-color-white: hsl(0, 0%, 100%);

  /* Typography */
  --paragraph-font-size: 14px;
  --font-weights-500: 500;
  --font-weights-700: 700;
}



/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}










