:root{
  /* Colors */
  --primary-orange : hsl(25, 97%, 53%);
  --neutral-white : hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-medium-grey: hsl(216, 12%, 54%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);

  /* topography */
  --paragraph-font-size : 15px;

  /* weights */
  --weight-400: 400;
  --weight-700: 700;

  --body-font-family : 'Overpass', sans-serif;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--neutral-very-dark-blue);
  
}
  