
:root{
  /* properties for colors */
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta : hsl(300, 69%, 71%);

  /* typography for headings */
  --headings-font-family: 'Poppins',
  sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  --weight-400: 400;
  --weight-600: 600;
  
  --body-font-family: 'Open Sans', sans-serif;
}

body{
  font-family: var(--body-font-family);
  font-weight: var(--weight-400);
  background-color: var(--primary-violet);
  background-image: url('./images/bg-desktop.svg');
}