
:root{
  /* properties for colors */
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta : hsl(300, 69%, 71%);

  /* typography for headings */
  --headings-font-family: 'Poppins',
  sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  --weight-400: 400;
  --weight-600: 600;
  
  --body-font-family: 'Open Sans', sans-serif;
}

body{
  font-family: var(--body-font-family);
  font-weight: var(--weight-400);
  background-color: var(--primary-violet);
  background-image: url('./images/bg-mobile.svg');
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
}


img{
  max-width: 100%;
}

.container{
  margin: 2rem;
}

.nav-container img {
  max-width: 10rem;
}

.main-container {
  margin-top: 3rem;
}

.main-info {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-info h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: var(--headings-font-family);
}

.main-info p {
  color: rgb(230, 230, 230);
  width: 90%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.main-info button {
  color: var(--primary-violet);
  text-transform: capitalize;
  max-width: 80%;
  width: 15rem;
  height: 3.3rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 30%);
}
.main-info button:hover {
  background-color: var(--primary-soft-magenta);
  color: #fff;
  transition: 0.3s ease-in;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.icons-link {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 1rem;
  margin-right: 2rem;
}

.icons-link li {
  display: flex;
  width: 2rem;
  height: 2rem;
  border: 1px #fcfcfc solid;
  /* padding: 0.4rem; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icons {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.icons-link li:hover {
  border: 1px var(--primary-soft-magenta) solid;
  transition: 0.3s ease-in-out;

}

.icons:hover {
  color: var(--primary-soft-magenta);
  transition: 0.3s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media  (min-width: 1260px) {
  body{
    background-image: url('./images/bg-desktop.svg');
  }
.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-info {
  margin-top: -3rem;
  margin-left: 5rem;
  display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-info h1 {
  text-align: left;
  max-width: 80%;
}

.main-info p {
  text-align: left;
  line-height: 1.7rem;
  margin-bottom: 1.2rem;
}

footer {
  display: flex;
  justify-content: end;
  margin-top: 3rem;
}

}